PORT=3000
PUBLIC_BASE_URL=https://blog.gooffu.tech
BLOG_SESSION_SECRET=replace_with_a_long_random_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace_with_a_strong_initial_password
NODE_ENV=production
